@import "../../portal.component";
$font-size: 0.9em;
input, textarea{
  border: none;
  background-color: #fff;
  padding: 10px 15px;
  width: 100%;
  font-family: $Roboto;
  font-size: $font-size;
  color: #878787 !important;
  margin: 0.4em 0;
}

button{
  background-color: transparent;
  border: none;
  height: 31px;
  color: #970000;
  right: 0;
  padding-right: 10px;
  top: 7px;
  z-index: 1;
  &:focus{
    outline: none;
  }
}

textarea{
  min-height: 80px;
}


input, textarea{
  font-size: 0.9em;
}

::placeholder, input, textarea{
  color: #878787;
}

.error{
  border: 1px solid #970000;
}

.alert{
  position: absolute;
  border-radius: 0;
  font-size: $font-size;
  top: 7px;
  padding: 9px;
  width: 100%;
}
