<div class="subheader-background position-relative">
  <div class="container">
    <div class="ml-md-3 pl-3 pb-4 info-container text-center text-md-left d-flex flex-column align-items-center align-items-md-start">
      <div class="text-uppercase pl-1 pb-2 title">{{'PORTAL.TITLE.PLACE' | translate}}</div>
      <div class="subtitle">{{'PORTAL.TITLE.SLOGAN1' | translate}}</div>
      <div class="separator"></div>
      <div class="text-uppercase action-title pb-1">{{'PORTAL.NAV.CONTACTS' | translate}}</div>
      <div class="action-description pb-3" [innerHTML]="'PORTAL.TITLE.SLOGAN2' | translate"></div>
      <div class="d-flex flex-column align-items-center align-items-md-start">
        <a class="action-btn d-inline-block d-sm-none mb-3" href="tel:7869070154">{{'PORTAL.TITLE.CALL_BTN' | translate}}</a>
        <button *ngIf="!sent" class="action-btn" (click)="toggleForm()">{{'PORTAL.TITLE.BTN' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="form-container position-absolute" [class.open]="show">
    <div class="row">
      <div class="col-12 col-md-6 bg-dark pt-1 pl-5 pr-5 position-absolute">
        <a class="close-btn" (click)="toggleForm()">&times;</a>
        <div>
          <app-form [subheaderLayout]="true"></app-form>
        </div>
      </div>
    </div>
  </div>
</div>

