@import "../header.component";
:host{
  font-size: 1rem;
  .subheader-background{
    background-image: url("../../../../../assets/images/subheader-image.jpg");
    background-size: cover;
    height: 370px;
    background-position-y: -177px;
    background-repeat: no-repeat;
    color: #fff;
    &>div{
      background-color: #1a1b1b70;
      height: 100%;
    }
    .info-container{
      padding-top: 4rem;
      .title{
        font-family: $Monserrat;
        font-weight: 600;
        font-size: 0.8em;
      }
      .subtitle{
        font-family: $Edwardian_Script_ITC;
        font-size: 2.5em;
        line-height: 3rem;
        margin-left: -20px;
      }
      .separator{
        border-bottom: 2px solid #fff;
        width: 30px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .action-title{
        font-family: $Roboto;
        font-weight: bold;
        font-size: 0.8em;
      }
      .action-description{
        font-family: $Roboto;
        font-size: 0.8em;
        width: 270px;
      }
      .action-btn{
        color: #fff;
        font-size: 0.8em;
        padding: 8px 15px;
        min-width: 150px;
      }
    }
    .form-container{
      overflow: hidden;
      z-index: -1;
      transition: all linear 0.01s;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #1617199c;
      &> div div{
        left:100%;
        transition: all linear 0.1s;
        height: 100%;
        .close-btn{
          cursor: pointer;
          color: $gold_color;
          font-size: 1.6rem;
        }
        &> div div{
          padding-right: 4rem;
          margin-right: 4rem;
        }
      }
      &.open{
        z-index: 0;
        &>div div{
          left:50%;
        }
      }
    }
  }
}


@include media-breakpoint-down(lg){
  :host{
    .subheader-background{
      background-position-y: -182px;
      background-size: 1500px 800px;
      background-position-x: -346px;
      .form-container{
        &>div{
          &>div{
            padding-right: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md){
  :host{
    .subheader-background{
      height: 450px;
      background-size: cover;
      background-position-x: center;
      background-position-y: bottom;
    }
  }
}


@include media-breakpoint-down(sm){
  :host{
    .subheader-background{
      height: 515px;
      background-image: url("../../../../../assets/images/subheader-image-responsive.jpg");


      &>div{
        background-color: #1a1b1bad;
        height: 100%;
      }
      .info-container{
        padding-top: 2rem;
        width: 100%;
        .subtitle{
          font-size: 1.8em;
        }
        .action-description{
          width: 202px;
        }
      }
      .form-container{
        &.open{
          &>div div{
            left:7%;
          }
        }
      }
    }
  }
}
