@import "../header.component";

.subheader-background{
  background-image: url("../../../../../assets/images/subheader-image.jpg");
  background-size: cover;
  height: 370px;
  background-position-y: -177px;
  background-repeat: no-repeat;
  color: #fff;

  .info-container{
    padding-top: 4rem;
    width: 270px;
    .title{
      font-family: 'Montserrat-SemiBold';
      font-size: 0.8rem;
    }
    .subtitle{
      font-family: 'Cardiff MediumItalic';
      font-size: 25px;
      line-height: 1.5rem;
    }
    .separator{
      border-bottom: 2px solid #fff;
      width: 30px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .action-title{
      font-family: 'Roboto-Bold';
      font-size: 0.8rem;
    }
    .action-description{
      font-family: 'Roboto-Regular';
      font-size: 0.8rem;
    }
    .action-btn{
      color: #fff;
      font-size: 0.8rem;
      padding: 8px 15px;
      min-width: 150px;
    }
  }
  .form-container{
    overflow: hidden;
    z-index: -1;
    transition: all linear 0.01s;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1617199c;
    &>div{
      min-width: 963px;
      left:100%;
      transition: all linear 0.1s;
      height: 100%;
      .close-btn{
        cursor: pointer;
        color: $gold_color;
        font-size: 1.6rem;
      }
      &>div{
        padding-right: 4rem;
        margin-right: 4rem;
      }
    }
    &.open{
      z-index: 0;
      &>div{
        left:48%;
      }
    }
  }
}

@include media-breakpoint-down(lg){
  .subheader-background{
    background-position-y: -182px;
    background-size: 1500px 800px;
    background-position-x: -346px;
    .form-container{
      &>div{
        &>div{
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(md){
  .subheader-background{
    height: 450px;
    background-position-y: -192px;
    background-position-x: -400px;
    background-size: 1350px;

  }
}


@include media-breakpoint-down(sm){
  .subheader-background{
    background-position-x: -688px;
    background-position-y: -137px;

    &>div{
      background-color: #1a1b1bad;
      height: 100%;
    }
    .info-container{
      padding-top: 2rem;
      width: 100%;
      .title{

      }
      .subtitle{
        width: 207px;
      }
      .action-description{
        width: 202px;
      }
    }
    .form-container{
      &>div{
        min-width: 400px;
      }
      &.open{
        &>div{
          left:5%;
        }
      }
    }
  }
}

@media (max-width: 424px){
  .subheader-background{
    height: 515px;
    .info-container{
    }
  }
}
