@import "../../admin.component";
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $gold_color;
  #logo{
    width: 190px;
  }
}
.navbar-action{
  background-color: transparent;
  border: none;
  font-size: 20px;
  &:focus{
    outline: none;
  }
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu{
  font-family: $Roboto;
  margin-top: 1.2rem;
  padding-top: 0;
  padding-bottom: 0;
  .menu-item{
    color: $gold_color;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #EEF1F6;
    &:hover{
      cursor: pointer;
      background-color: rgba(232, 232, 232, 0.32);
    }
    .icon{
      font-size: 20px;
      width: 35px;
    }
  }
}

