@import "../../portal.component";
:host{
  font-size: 1rem;
}
@include media-breakpoint-down(md){
  :host{
    .navbar-container{
      position: fixed;
      z-index: 2;
      width: 100%;
      background-color: $dark_color;
      top: 0;
    }
    .subheader-container{
      padding-top: 5.5rem;
    }
  }
}
