<div class="container mb-4">
  <div id="blog">
    <div class="pt-4 pb-3">
      <div class="title">{{'PORTAL.BLOG.TITLE' | translate}}</div>
      <div class="decorator pt-1"></div>
    </div>
  </div>
  <div class="mb-4 group-container mt-3" *ngIf="!(articlesLoading$ | async); else loadingTemplate">
    <ng-container *ngFor="let group of (articleGroup$ | async).data" [ngTemplateOutlet]="groupTemplate" [ngTemplateOutletContext]="{group: group}"></ng-container>
  </div>
  <app-pagination [collectionSize]="(articleGroup$ | async).total" [separator]="true" [params]="{lang: this.currentLang, filter: {}}" [entity]="paginationEntity" [pageSize]="6"></app-pagination>
</div>


<ng-template #groupTemplate let-group="group">
  <div class="group mb-2">
    <div class="header d-flex align-items-center">
      <div class="title">{{dateFilter(group.date) | date: "MMM , yyyy" | uppercase}}</div>
      <div class="group-decorator flex-grow-1 ml-4"></div>
    </div>
    <div class="row">
      <ng-container *ngFor="let article of group.article_list" [ngTemplateOutlet]="articleTemplate" [ngTemplateOutletContext]="{article: article}"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #articleTemplate let-article="article">
  <a href="" [routerLink]="['../article', article.permalinks[currentLang]] | localize" title="{{article.title}}" class="article-card d-flex flex-column mt-3 mb-4 col-md-4">
    <div class="article-body">
      <div class="title mb-3">{{article.title}}</div>
      <div class="img-container" *ngIf="article.image_id!==''">
        <app-load-image [imageSrc]="'https://drive.google.com/uc?export=view&id='+article.image_id"></app-load-image>
      </div>
      <div>
        <div class="summary mt-3" [innerHTML]="article.summary"></div>
        <div class="tag-list mt-3">
          <div class="tag mr-1 mb-2" *ngFor="let tag of article.main_tags">{{tag.name}}</div>
        </div>
      </div>
    </div>
  </a>
</ng-template>

<ng-template #loadingTemplate>
  <div class="mb-5 group-container mt-3">
    <div class="group mb-2">
      <div class="header d-flex align-items-center">
        <div class="title"></div>
        <div class="group-decorator flex-grow-1 ml-4"></div>
      </div>
      <div class="row">
        <div *ngFor="let item of cardTemplates" class="article-card d-flex flex-column mt-3 mb-4 col-md-4">
          <div class="article-body">
            <div class="title mb-3"></div>
            <div class="img-container border-bottom-0">
              <img class="w-100" src="assets/images/img_template.png" alt="">
            </div>
            <div>
              <div class="summary mt-3">
                <div class="mb-1"></div>
                <div class="mb-1"></div>
                <div class="mb-1"></div>
                <div class="mb-1"></div>
              </div>
              <div class="tag-list mt-3">
                <div class="tag mr-1 mb-2"></div>
                <div class="tag mb-2"></div>
                <div class="tag mr-1 mb-2"></div>
                <div class="tag mb-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
