<div class="container">
  <div id="blog">
    <div class="pt-4 pb-3">
      <div class="title">{{'PORTAL.BLOG.TITLE' | translate}}</div>
      <div class="decorator pt-1"></div>
    </div>
  </div>
  <div class="mb-5 group-container" *ngIf="dataLoaded; else loading">
    <ng-container *ngFor="let group of articleGroup" [ngTemplateOutlet]="groupTemplate" [ngTemplateOutletContext]="{group: group}"></ng-container>
  </div>
</div>


<ng-template #groupTemplate let-group="group">
  <div class="group mb-2">
    <div class="header d-flex align-items-center">
      <div class="title">{{dateFilter(group.date) | date: "MMM , yyyy" | uppercase}}</div>
      <div class="group-decorator flex-grow-1 ml-4"></div>
    </div>
    <ng-container *ngFor="let article of group.article_list" [ngTemplateOutlet]="articleTemplate" [ngTemplateOutletContext]="{article: article}"></ng-container>
  </div>
</ng-template>

<ng-template #articleTemplate let-article="article">
  <a href="" [routerLink]="['../article', article.permalinks[currentLang]] | localize" class="article-card d-flex flex-column flex-md-row mt-3 mb-4">
    <div class="mr-md-3 img-container" *ngIf="article.image_id!==''">
      <img src="https://drive.google.com/uc?export=view&id={{article.image_id}}" alt="">
    </div>
    <div>
      <div class="title mt-2 mt-md-0">{{article.title | uppercase}}</div>
      <!--<div class="category mt-1">{{article.practice_area.name | uppercase}}</div>-->
      <div class="tag-list mt-3">
        <div class="tag mr-2 mb-2" *ngFor="let tag of article.tags">{{tag.name}}</div>
      </div>
    </div>
  </a>
</ng-template>

<ng-template #loading>
  <div class="loading-container text-center mt-5 mb-5">
    <img src="assets/images/loading.gif" alt="">
  </div>
</ng-template>
