@import "../../portal.component";

:host{
  font-family: 'Roboto-Regular';
  p{
    &:first-child{
      font-size: 20px;
    }
    font-size: 13px;
  }
}

input, textarea{
  background-color: transparent;
  border: 1px solid $gold_color;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}

textarea{
  min-height: 80px;
}


button, input, textarea{
  font-size: 13px;
}

::placeholder, input, textarea{
  color: $gold_color;
}

@include media-breakpoint-down(sm){
  button{
    width: 100%;
  }
}


