<div>
  <div *ngIf="sent" class="message-alert mt-5 mr-5 pr-5">
    {{"PORTAL.ALERTS.SUCCESS" | translate}}
  </div>
  <div *ngIf="!sent">
    <p [innerHTML] ="'PORTAL.FORM.TITLE' | translate"></p>
    <p [innerHTML] ="'PORTAL.FORM.DESCRIPTION' | translate"></p>
    <form [formGroup] ="requestForm">
      <div class="row">
        <div class="col-12 pb-1" [ngClass]="{'col-lg-4': !subheaderLayout, 'col-lg-6': subheaderLayout}">
          <app-input [tempFormGroup]="requestForm" [type]="'input'" [field]="requestForm.controls.name" [controlName]="'name'" [placeholder]="'PORTAL.FORM.FIELDS.NAME'" [fieldName]="'PORTAL.FORM.ALERTS.NAME'" ></app-input>
        </div>
        <div class="col-12 pb-1" [ngClass]="{'col-lg-4': !subheaderLayout, 'col-lg-6': subheaderLayout}">
          <app-input [tempFormGroup]="requestForm" [type]="'input'" [field]="requestForm.controls.phone" [controlName]="'phone'" [placeholder]="'PORTAL.FORM.FIELDS.PHONE'" [fieldName]="'PORTAL.FORM.ALERTS.PHONE'" ></app-input>
        </div>
        <div class="col-12 pb-1" [ngClass]="{'col-lg-4': !subheaderLayout, 'col-lg-12': subheaderLayout}">
          <app-input [tempFormGroup]="requestForm" [type]="'input'" [field]="requestForm.controls.email" [controlName]="'email'" [placeholder]="'PORTAL.FORM.FIELDS.EMAIL'" [fieldName]="'PORTAL.FORM.ALERTS.EMAIL'" ></app-input>
        </div>
      </div>
      <div class="row pt-1">
        <div class="col-12">
          <app-input [tempFormGroup]="requestForm" [type]="'textarea'" [field]="requestForm.controls.message" [controlName]="'message'" [placeholder]="'PORTAL.FORM.FIELDS.MESSAGE'" [fieldName]="'PORTAL.FORM.ALERTS.MESSAGE'" ></app-input>
        </div>
      </div>
      <button type="button" class="d-flex align-items-center justify-content-center" [disabled]="sending" (click)="sendForm()">
        {{'PORTAL.FORM.BUTTON' | translate}}
        <i [ngClass]="{'invisible': !sending, 'visible': sending}" class="ml-2 spinner-border spinner-border-sm"></i>
      </button>
    </form>
  </div>
</div>


