@import "../app.component";

.bg-dark{
  background-color: $dark_color !important;
}

button, .action-btn{
  background-color: $gold_color;
  border-radius: 20px;
  border: none;
  padding: 8px 40px;
  &:hover{
    text-decoration: none;
  }
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-family: $cardif_bold_italic;
  .image-container{
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    height: 140px;
    width: 140px;
    img{
      left: -30px;
      top: -43px;
      filter: grayscale(50%);
      -webkit-filter:grayscale(50%) ;
    }
  }
}


.loading-container{
  img{
    width: 10%;
  }
}
