<div class="social-networks">
  <a target="_blank" title="youtube" class="fab fa-youtube" href="https://www.youtube.com/channel/UCGZ1_sh-Qe4EQU4kUs6P3cw"></a>
  <a target="_blank" title="linkedin" class="fab fa-linkedin-in" href="https://www.linkedin.com/company/ymorejonattorneypa/"></a>
  <a target="_blank" title="facebook" class="fab fa-facebook-f" href="https://www.facebook.com/ymorejonattorneypa/"></a>
  <a target="_blank" title="twitter" class="fab fa-twitter" href="https://twitter.com/ymorejonattorne"></a>
  <a target="_blank" title="instagram" class="fab fa-instagram" href="https://www.instagram.com/ymorejonattorneypa/"></a>
</div>
