@import "../../admin.component";

a{
  text-decoration: none;
}

.header{
  background-color: #f7f8fb;
  border-bottom: 1px solid #EEF1F6;
  color: $color;
  .icon{
    font-size: 20px;
  }
  button{
    border: 1px solid $color;
    background-color: white;
    border-radius: 5px;
    color: $color;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 15px;
  }
}
.filter{
  color: #495057;
  select:focus{
    box-shadow: none;
    border-color: $color;
  }
}
.card{
  font-family: $Roboto;
  .card-title{
    color: $color;
  }
  .card-text{
    color: #7b8590;
  }
  .card-action{
    background-color: $color;
    color: white !important;
    margin-right: 10px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}

