@import "../header.component";

.navbar-brand{
  color: $gold_color !important;
  font-size: 1rem;
  margin: 0 0.6rem;
  font-family: 'Montserrat-Bold';
  cursor: pointer;
  align-items: center;
  height: 83px;
  display: flex;
  border-bottom: 2px solid $dark_color;

  &.selected{
    border-bottom: 2px solid $gold_color;
  }
}
.navbar-light{
  .navbar-toggler{
    color: $gold_color;
    font-size: 2rem;
    z-index: 1;
  }
  #mobile-logo a img{
    width: auto;
    max-width: 180px;
  }
}


@include media-breakpoint-down(md){
  .navbar-brand{
    height: auto;
    color: #d8a97287 !important;
    border-bottom: 2px solid $gold_color;
    text-transform: uppercase;
    &.selected{
      color: #d8a972 !important;
    }
    &:nth-last-child(3){
      border-bottom: none;
    }
  }
}

