@import "../header.component";

.navbar-brand{
  color: $gold_color !important;
  font-size: 1rem;
  margin: 0 0.6rem;
  font-weight: bold;
  font-family: 'Montserrat-Bold';
  cursor: pointer;
}

#mobile-logo{
  margin-left: -2.5rem;
}
.navbar-light{
  .navbar-toggler{
    color: $gold_color;
    font-size: 2rem;
    z-index: 1;
  }
}

@include media-breakpoint-down(md){
  .navbar-brand{
    border-bottom: 1px solid $gold_color;
    text-transform: uppercase;
    &:first-child, &:nth-last-child(3){
      border-bottom: none;
    }
  }
}

