@import "../navbar.component";
.selector{
  color: #d8a97287 !important;
  &.selected{
    color: #d8a972 !important;
  }
}
.lang-container-responsive{
  display: none;
  width: 33px;
  height: 24px;
  position: relative;
  .selector{
    position: absolute;
  }
}

@media (max-width: 375px){
  .lang-container{
    display: none;
  }
  .lang-container-responsive{
    display: block;
  }
}
