@import "../navbar.component";
.selector{
  color: #d8a97287 !important;
  &.selected{
    color: #d8a972 !important;
  }
}
.lang-container-responsive{
  display: none;
}

@media (max-width: 375px){
  .lang-container{
    display: none;
  }
  .lang-container-responsive{
    display: block;
  }
}
