@import "../app.component";
$color: #3c3e40;

app-admin-notification{
  position: absolute;
  right: 0;
  top: 10rem;
}

.btn{
  font-size: 13px;
  font-weight: bold;
  padding: 4px 15px;
  width: 80px;
  border-radius: 5px;

  &:focus{
    box-shadow: none;
  }
  &.prime{
    border: 1px solid $color;
    background-color: white;
    color: $color;
    &:hover{
      border: 1px solid white;
      background-color: #cfcfcf;
      color: white;
    }
  }
  &.invert{
    color: #fff;
    background-color: $color;
    &:hover{
      border: 1px solid white;
      background-color: #cfcfcf;
      color: white;
    }
  }
}

.header{
  background-color: #f7f8fb;
  border-bottom: 1px solid #EEF1F6;
  color: $color;
  .icon{
    font-size: 20px;
  }
}
.filter{
  color: #495057;
  select:focus{
    box-shadow: none;
    border-color: $color;
  }
}

.tag{
  border: 1px solid #bcbfc4;
  padding: 5px 10px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #96A3B6;
  color: white;
}

.modal-content {
  background-color: white!important;
}




