@import "../footer.component";
:host{
  font-size: 1rem;
  #info-container{
    width: 300px;
    padding: 0 1rem;

    & > div{
      font-family: $Monserrat;
      font-size: 1em;
      line-height: 2rem;
    }

    h4{
      font-family: $cardif_medium_italic;
      font-size: 1.7em;
      font-weight: bold;
    }

    #phone{
      font-size: 1.5em;
      line-height: 1.5rem;
    }
  }
}

