<div class="filter-container pl-5 pr-5 pt-5" [class.show]="show">
  <button id="show-btn" (click)="toggleFilter()">
    <i class="fas fa-search"></i>
  </button>
  <div class="filter-form-container d-flex flex-column mt-5">
    <form action="">
      <div class="words-filter position-relative">
        <input type="text" class="w-100 pb-1" placeholder="{{'PORTAL.FILTERS.SEARCH' | translate}}" spellcheck="false" [(ngModel)]="keyword" (ngModelChange)="onChange($event)" name="keyword">
        <i class="fas fa-search position-absolute"></i>
      </div>
      <div class="separator"></div>
      <div class="practice-areas-filter">
        <div class="title">
          {{'PORTAL.FILTERS.FILTER' | translate}}
          <div class="border"></div>
        </div>
        <div class="body">
          <div class="filter-list pt-4">
            <button class="filter-item mb-4" *ngFor= "let item of practiceArea; let i = index" (click)="markItem(i)" title="{{item.title | translate}}">
              <div class="img-container mr-3 position-relative">
                <img [class.d-none]="item.selected" class="position-absolute" src="assets/images/filters/{{item.name}}.png" alt="">
                <img [class.d-block]="item.selected" class="d-none position-absolute" src="assets/images/filters/{{item.name}}_selected.png" alt="">
              </div>
              <div class="name" [class.active]="item.selected">
                {{item.title | translate}}
              </div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
