@import "../../portal.component";
:host{
  font-size: 1rem;
  color: $gold_color;
  h3{
    font-family: $cardif_medium_italic;
    font-weight: bold;
    font-size: 2.25em;
  }

  .form-container{
    padding-right: 5rem;
  }
}

@include media-breakpoint-down(md){
  :host{
    .form-container{
      padding-right: 1.5rem;
    }
  }
}
