@import "../../portal.component";

.article-card{
  .title{
    color: #d7a870;
    font-size: 5em;
    font-family: $cardif_bold_italic;
    line-height: 1.2em;
    margin-bottom: 2px;
  }
  column-count: 2;
  .header{
    .title{
      font-family: $Monserrat;
      color: #858483;
      font-size: 1.3em;
      font-weight: bold;
    }
    .group-decorator{
      border-bottom: 1px solid #c6c6c6;
      margin-bottom: 2px;
    }
  }

  .content{
    font-family: $Roboto;
    text-align: justify;
    font-size: 1.2em;
    color: #868584;
  }
}

.comment-btn{
  background-color: transparent;
  border: none;
  font-family: $Roboto;
  font-size: 1.3em;
  color: #606060;
  font-style: italic;
  &:focus{
    border: none;
  }
}
$border: 1px solid #e1be96;
.tag-list{
  border-top: $border;
  border-bottom: $border;
  .tag{
    background-color: #f2f2f2;
    font-family: $Monserrat;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 1em 1.8em;
    color: #606060;
  }
}

