@import "../../portal.component";
:host{
  font-size: 1rem;
  $description_font_color: #737476;
  $description_font_family: $Roboto;
  $description_font_size: 0.9em;

  .separator{
    border-bottom: 2px solid $gold_color;
    width: 50px;
  }
  .content{
    .description{
      font-family: $description_font_family;
      font-size: $description_font_size;
      color: $description_font_color;
    }
  }


  #about{
    background-color: #f4f4f4;
    .content{
      .group{
        column-count: 2;
      }
    }
  }

  #practices{
    .card{
      border: none;
      border-radius: 0;
      .icon{
        top: 36px;
        left: 32px;
      }
      .icon-background{
        width: 150px;
      }
      .card-body{
        border-bottom: 2px solid $gold_color;
        .card-title{
          font-family: $Monserrat;
          font-weight: bold;
          font-size: 1rem;
        }
        .card-text{
          font-family: $description_font_family;
          font-size: $description_font_size;
          color: $description_font_color;
        }
        .separator{
          width: 60px;
        }
      }
    }
  }
}
@include media-breakpoint-down(md){
  :host{
    #about{
      .content{
        .group{
          column-count: 1;
        }
      }
    }
  }
}

