<div class="container">
  <div id="home" class="pb-5">
    <app-title [title]="'PORTAL.VIEW.HOME.TITLE' | translate"></app-title>
    <div class="content">
      <p class="description text-center pl-md-5 pr-md-5">{{'PORTAL.VIEW.HOME.DESCRIPTION' | translate}}</p>
    </div>
  </div>
</div>
<div id="about" class="pb-5">
  <div class="container">
    <app-title [title]="'PORTAL.VIEW.ABOUT.TITLE' | translate"></app-title>
    <div class="content d-flex flex-column flex-lg-row justify-content-center">
      <div class="profile pb-3 pb-lg-0">
        <div class="image-container">
          <picture>
            <source type="image/webp" srcset="assets/images/photo.webp">
            <img width="190" class="position-absolute" src="assets/images/photo.JPG" alt="">
          </picture>
        </div>
        <div class="separator mt-4 mb-4"></div>
        <div class="text-center">Yahima Morejon</div>
      </div>
      <div class="group ml-md-5 pl-md-5 pr-md-5">
        <p class="description text-center text-lg-left pr-md-5">{{'PORTAL.VIEW.ABOUT.DESCRIPTION' | translate}}</p>
        <div class="d-flex justify-content-center pt-3 pt-lg-0 justify-content-lg-start">
          <a target="_blank" href="http://www.uh.cu/"><img class="pr-5 mr-4" src="assets/images/uh.png"></a>
          <a target="_blank" href="https://www.stu.edu/law/"><img class="pr-5 mr-4" src="assets/images/st.png"></a>
          <a target="_blank" href="https://www.floridabar.org/directories/find-mbr/profile/?num=1002520"><img src="assets/images/ou.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="practices" class="pb-5">
    <app-title [title]="'PORTAL.NAV.AREAS_OF_PRACTICES' | translate"></app-title>
    <div class="content">
      <div class="row justify-content-around">
        <ng-container *ngFor="let item of practices">
          <ng-container [ngTemplateOutlet]="practiceCard" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #practiceCard let-item="item">
  <div class="card align-items-center col-12 col-lg-4 mb-4">
    <div class="position-relative">
      <img class="icon position-absolute" src="{{'assets/images/icon_'+item+'.png' | lowercase}}" alt="{{'icon_'+item}}">
      <picture>
        <source type="image/webp" srcset="{{'assets/images/'+item+'.webp' | lowercase}}">
        <img class="icon-background card-img-top rounded-circle" src="{{'assets/images/'+item+'.png' | lowercase}}" alt="{{item}}">
      </picture>
    </div>
    <div class="card-body d-flex flex-column align-items-center">
      <div class="card-title text-center">{{'PORTAL.VIEW.APRACTICES.'+item+'.TITLE'| translate}}</div>
      <div class="separator mb-4 mt-2"></div>
      <div class="card-text" [innerHTML]="'PORTAL.VIEW.APRACTICES.'+item+'.CONTENT'| translate"></div>
    </div>
  </div>
</ng-template>
