<div *ngIf="field.invalid && (field.dirty || field.touched)" class="warning-notification p-2 top">
  <div class="arrow">
    <div class="inner-arrow"></div>
  </div>
  <div class="d-flex">
    <span class="icon mr-2 ml-2"><i class="fas fa-exclamation-circle"></i></span>
    <div *ngIf="field.errors.required; else emailBlock">
      Este campo es requerido
    </div>

    <ng-template #emailBlock>
      <div *ngIf="field.errors.email; else matchBlock" style="width: 355px">
        Por favor incluya @ en la dirección de correo electrónico
      </div>
    </ng-template>

    <ng-template #matchBlock>
      <div *ngIf="field.errors.notMatch; else minLengthBlock">
        Por favor introduzca la misma contraseña
      </div>
    </ng-template>

    <ng-template #minLengthBlock>
      <div *ngIf="field.errors.minlength">
        La contraseña debe tener al menos {{field.errors.minlength.requiredLength}} caracteres
      </div>
    </ng-template>
  </div>
</div>
