@import "../../admin.component";
.warning-notification{
  display: flex;
  color: #495057;
  font-size: 14px;
  background-color: white;
  position: absolute;
  z-index: 6;
  left: -58px;
  border: 1px solid #aeb2b7;
  text-align: left;
  width: auto;
  border-radius: 5px;

  .icon{
    color: #f5ba4c;
  }

  .arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 67px;
    .inner-arrow{
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      position: absolute;
      left: -9px;
    }
  }

  &.top{
    top: -42px;
    .arrow{
      bottom: -10px;
      border-top: 10px solid #aeb2b7;
      .inner-arrow{
        bottom: 1px;
        border-top: 9px solid white;
      }
    }
  }

  &.bottom{
    bottom: -42px;
    .arrow{
      top: -10px;
      border-bottom: 10px solid #aeb2b7;
      .inner-arrow{
        border-bottom: 9px solid white;
        top: 1px;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .warning-notification{
    left: -2px;
  }
}
