@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {font-family:"Cardiff Bold";
  src:url("assets/fonts/CARDIF_B.eot?") format("eot"),
  url("assets/fonts/CARDIF_B.woff") format("woff"),
  url("assets/fonts/CARDIF_B.ttf") format("truetype"),
  url("assets/fonts/CARDIF_B.svg#CardiffBold") format("svg");
  font-weight:normal;
  font-style:normal;}

@font-face {font-family: "Cardiff Italic";
  src: url("assets/fonts/5762715ddcc2993805a83fcd2f569ea8.eot"); /* IE9*/
  src: url("assets/fonts/5762715ddcc2993805a83fcd2f569ea8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/5762715ddcc2993805a83fcd2f569ea8.woff2") format("woff2"), /* chrome、firefox */
  url("assets/fonts/5762715ddcc2993805a83fcd2f569ea8.woff") format("woff"), /* chrome、firefox */
  url("assets/fonts/5762715ddcc2993805a83fcd2f569ea8.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("assets/fonts/5762715ddcc2993805a83fcd2f569ea8.svg#Cardiff Italic") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Cardiff Bold Italic";
  src: url("assets/fonts/447e8ccbf89f6bfb0b881ca0ac1bc836.eot"); /* IE9*/
  src: url("assets/fonts/447e8ccbf89f6bfb0b881ca0ac1bc836.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/447e8ccbf89f6bfb0b881ca0ac1bc836.woff2") format("woff2"), /* chrome、firefox */
  url("assets/fonts/447e8ccbf89f6bfb0b881ca0ac1bc836.woff") format("woff"), /* chrome、firefox */
  url("assets/fonts/447e8ccbf89f6bfb0b881ca0ac1bc836.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("assets/fonts/447e8ccbf89f6bfb0b881ca0ac1bc836.svg#Cardiff Bold Italic") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Edwardian Script ITC";
  src: url("assets/fonts/ca6f91c0cad2fe33614026d17117601d.eot"); /* IE9*/
  src: url("assets/fonts/ca6f91c0cad2fe33614026d17117601d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/ca6f91c0cad2fe33614026d17117601d.woff2") format("woff2"), /* chrome、firefox */
  url("assets/fonts/ca6f91c0cad2fe33614026d17117601d.woff") format("woff"), /* chrome、firefox */
  url("assets/fonts/ca6f91c0cad2fe33614026d17117601d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("assets/fonts/ca6f91c0cad2fe33614026d17117601d.svg#Edwardian Script ITC V1") format("svg"); /* iOS 4.1- */
}


