/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$gold_color: #d8a972;
$dark_color: #161719;

$cardif_bold: 'Cardiff Bold';
$cardif_bold_italic: 'Cardiff Bold Italic';
$Edwardian_Script_ITC: 'Edwardian Script ITC';
$Roboto: 'Roboto';
$Monserrat: 'Montserrat';


p a.phone{
    color: $gold_color;
}

ngb-accordion{
  .card{
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-color: #e4c4a0;
    .card-header{
      border-bottom: none;
      background-color: #0000;
      button{
        text-decoration: none;
        width: 100%;
      }
    }
    .card-body{
      padding-bottom: 0;
    }
    .card-body, .card-header, .card-header button{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

ngb-pagination{
  .pagination{
    .page-item{
      &.active{
        .page-link{
          background-color: $dark_color;
          color: white;
        }
      }
      .page-link{
        $size: 25px;
        color: #ababab;
        font-family: $Monserrat;
        font-weight: bold;
        border: none;
        margin: 0 10px;
        font-size: 0.9em;
        width: $size;
        height: $size;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 50%;
        &:focus{
          box-shadow: 0 0 0 0.2rem rgba(207, 214, 216, 0.25);
        }
        img{
          width: $size;
          height: $size;
        }
      }
    }
  }
}
ngb-progressbar{
  .progress{
    border-radius: 0;
  }
}

.modal-content{
  background-color: transparent !important;
}
.multiselect-dropdown{
  .dropdown-btn{
    .dropdown-down, .dropdown-up{
      top: -1px !important;
      position: relative;
      right: -11px;
    }
    .dropdown-up{
      border-bottom: 6px solid #adadad !important;
      border-left: 3px solid transparent !important;
      border-right: 3px solid transparent !important;
    }
    .dropdown-down{
      border-top: 6px solid black !important;
      border-left: 3px solid transparent !important;
      border-right: 3px solid transparent !important;
    }
  }
  .selected-item{
    border: 1px solid #bcbfc4 !important;
    padding: 5px 10px !important;
    margin-right: .5rem !important;
    margin-bottom: .5rem;
    background-color: #96A3B6!important;
    &:hover{
      box-shadow: none!important;
    }
  }
  .multiselect-item-checkbox input[type=checkbox] + div:before{
    color: #96A3B6 !important;
    border: 2px solid #96A3B6!important;
  }
  .multiselect-item-checkbox input[type=checkbox]:checked + div:before{
    background-color: #96A3B6!important;
  }
}

.fr-box.fr-basic.fr-top .fr-wrapper > div:first-child:not(.fr-view){
  display: none !important;
}
